<!DOCTYPE html>
<title>Why Tech?</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timeline.css') }}">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timeline.theme.dark.css') }}"> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/sample.fonts.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/timeline.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-default" id="layout-nav">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#timeline-navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="timeline-navbar">
				<ul class="nav navbar-nav">
				</ul>
			</div>
		</div>
	</nav>

	<!-- BODY -->
	{% block body %}
	{% endblock %}

</body>